{% extends "base.html" %}
{% block page_content %}
<head>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.3.0/echarts.min.js"></script>
 <style>
    pre {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }

    .no-style-link {
        text-decoration: none;  /* 移除下划线 */
        color: inherit;         /* 使用父元素的颜色 */
    }
    .no-style-link:hover {
        text-decoration: underline;  /* 鼠标悬停时显示下划线 */
    }
    .pink-button{
     background-color: #f82506    !important;
     color: white       !important;  // 如果需要的话，也可以设置按钮文字颜色
    }

 </style>
</head>

<div class="mdui-container mdui-m-t-2">
<form action="/visualization" method="post">
    {% for industry, stocks in content.items() %}
        <div class="mdui-panel" mdui-panel>
            <div class="mdui-panel-item">
                <div class="mdui-panel-item-header">{{ industry }}</div>
                <div class="mdui-panel-item-body">
                    {% for con in stocks %}
                        <div class="mdui-card">
                            <div class="mdui-row">
                                <!-- 左侧基本信息 -->
                                <div class="mdui-col-md-6 mdui-col-sm-6">
                                    <div class="mdui-card-primary">
                                        <a class="mdui-card-primary-title no-style-link" href="{{ url_for('zhifudaima_detail', zhifudaima_code=con[1]) }}"><B>{{con[0]}}</B></a>
                                        <div class="mdui-card-primary-subtitle">{{con[1]}}</div><input type="checkbox" name="selected_stocks" value="{{con[1]}}">
                                    </div>
                                    <div class="mdui-card-content">
                                        <p>行业：{{con[2]}}</p>
                                        <p>{{con[3]}}</p>
                                    </div>
                                </div>
                                <!-- 右侧图片 -->
                                <div class="mdui-col-md-6 mdui-col-sm-6">
                            <div id="echartContainer{{ loop.index }}" style="width: 100%;height:400px;"></div>
<!--                                        <img src="data:image/png;base64,{{ con[4] }}" alt="用户图片" style="max-width: 100%; height: auto;"/>-->
<script>
// 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('echartContainer{{ loop.index }}'));
// 提取k_data中的日期和对应的K线数据
var k_data = {{ con[4] | tojson | safe }};
var dates = k_data[0];
var kLineData = k_data.slice(1, 5).map(function (values, index) {
  // 这里将每个子数组转换为ECharts需要的格式
  return values.map(function (value, idx) {
    return [
      k_data[1][idx], // 开盘价
      k_data[2][idx], // 收盘价
      k_data[3][idx], // 最低价
      k_data[4][idx]  // 最高价
    ];
  });
})[0]; // 取map结果的第一个元素，因为我们只转换了一组数据

// 提取换手率数据
var turnoverData = k_data[5].map(function(value, idx) {
  return {
    value: value,
    itemStyle: {
      // 设置颜色与K线图一致，根据涨跌设置颜色
      color: kLineData[idx][1] > kLineData[idx][0] ? '#ec0000' : '#00da3c',
      color0: kLineData[idx][1] > kLineData[idx][0] ? '#00da3c' : '#ec0000'
    }
  };
});

// 设置K线图的配置项
var option = {
  tooltip: {
    trigger: 'axis',
    axisPointer: {
      type: 'cross'
    }
  },
  grid: [
    {
      left: '10%',
      right: '10%',
      bottom: '30%',
      top: '10%'
    },
    {
      left: '10%',
      right: '10%',
      height: '15%', // 换手率柱状图的高度
      bottom: '5%'
    }
  ],
  xAxis: [
    {
      type: 'category',
      data: dates,
      gridIndex: 0
    },
    {
      type: 'category',
      data: dates,
      gridIndex: 1,
      axisLabel: { show: false } // 不显示下方X轴的标签
    }
  ],
  yAxis: [
    {
      scale: true,
      gridIndex: 0
    },
    {
      type: 'value',
      gridIndex: 1,
      splitLine: { show: false } // 不显示网格线
    }
  ],
  series: [
    {
      name: '股价K线图',
      type: 'candlestick',
      data: kLineData,
      xAxisIndex: 0,
      yAxisIndex: 0,
      itemStyle: {
        color: '#ec0000',
        color0: '#00da3c',
        borderColor: '#8A0000',
        borderColor0: '#008F28'
      }
    },
    {
      name: '换手率%',
      type: 'bar',
      data: turnoverData,
      xAxisIndex: 1,
      yAxisIndex: 1,
      gridIndex: 1
    }
  ]
};

// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);

// 窗口大小变化时，使图表自适应
window.addEventListener('resize', function() {
  myChart.resize();
});
</script>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
        <button type="submit" class="mdui-btn mdui-btn-raised mdui-color-theme mdui-ripple">查看走势</button>
    <a href="{{ url_for('index') }}" class="mdui-btn mdui-btn-raised mdui-color-theme-accent mdui-ripple  pink-button" >返回首页</a>
</form>
    </div>
</div>

<script>

     function saveSelectedStocksToLocalStorage() {
    var selectedStocks = [];
    var checkboxes = document.querySelectorAll("input[name='selected_stocks']:checked");
    checkboxes.forEach(function(checkbox) {
      selectedStocks.push(checkbox.value);
    });
    localStorage.setItem("selectedStocks", JSON.stringify(selectedStocks));
  }
</script>
<!--#K线图设计-->
{% endblock %}
